.invalid-feedback-custom {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545
}

.table1 {
    width:70%;
    margin:2px;
}

.table2 {
    width:100%;
    margin:2px;
}
