<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>SignUp</title>
</head>

<body>

<nav th:replace="fragments/nav:: nav">
</nav>

<div class="container">
    <form th:object="${user}" th:action="@{/signup}" method="post">
        <input type="hidden" th:field="*{ID}">
        <div class="mb-3">
            <label for="firstName" class="form-label">Imię:</label>
            <input id="firstName" class="form-control" type="text" th:field="*{account_name}">
            <div
                    th:if="${#fields.hasErrors('account_name')}"
                    th:text="${#fields.errors('account_name')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input id="email" class="form-control" type="text" th:field="*{email}">
            <div
                    th:if="${#fields.hasErrors('email')}"
                    th:text="${#fields.errors('email')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło:</label>
            <input id="password" class="form-control" type="password" th:field="*{password}">
            <div
                    th:if="${#fields.hasErrors('password')}"
                    th:text="${#fields.errors('password')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="voivodeship" class="form-label">Wojewodztwo:</label>
            <input id="voivodeship" class="form-control" type="text" th:field="*{voivodeship}">
            <div
                    th:if="${#fields.hasErrors('voivodeship')}"
                    th:text="${#fields.errors('voivodeship')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Miasto:</label>
            <input id="city" class="form-control" type="text" th:field="*{city}">
            <div
                    th:if="${#fields.hasErrors('city')}"
                    th:text="${#fields.errors('city')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Adres:</label>
            <input id="address" class="form-control" type="text" th:field="*{address}">
            <div
                    th:if="${#fields.hasErrors('address')}"
                    th:text="${#fields.errors('address')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>

        <div class="mb-3">
            <label for="role" class="form-label">Rola:</label>
            <select id="role" class="form-control" th:field="*{userRole}">
                <option th:each="roleOption : ${roles}" th:value="${roleOption}" th:text="${roleOption}">
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </div>
    </form>
</div>
</body>
</html>