<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Auctions</title>
</head>

<body>

<nav th:replace="fragments/nav:: nav">
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th colspan="5" th:text="${category.getName()}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="auction : ${auctions}">
        <td th:text="${auction.getID()}"></td>
        <td th:text="${auction.getTitle()}"></td>
        <td th:text="${auction.getCategory()}"></td>
        <td th:text="${auction.getBUY_NOW_price()}"></td>
        <td>
            <a class="btn btn-success" th:href="@{/auctions/update/__${auction.getID()}__}" role="button"
               target="_parent">Aktualizuj</a>
            <a class="btn btn-danger" th:href="@{/auctions/delete/__${auction.getID()}__}" role="button"
               target="_parent">Zakończ</a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>