<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Auctions</title>
</head>

<body>

<nav th:replace="fragments/nav:: nav">
</nav>

<table th:object="${loggedUser}" class="table table-striped">

    <thead>
    <tr>
        <td th:text="${auction.getTitle()}"></td>
    </tr>
    <td>ID</td>
    <td>Tytuł</td>
    <td>Kategoria</td>
    <td>KUP TERAZ</td>
    <td th:if="${bidding != null}">Aktualnie licytowana kwota</td>
    </thead>
    <tbody>
    <tr th:object="${bidding}">
        <td th:text="${auction.getID()}"></td>
        <td th:text="${auction.getTitle()}"></td>
        <td th:text="${auction.getCategory()}"></td>
        <td th:text="${auction.getBUY_NOW_price()}"></td>
        <td th:if="${bidding != null}" th:text="${bidding.getAmount()}"></td>
        <td th:if="${bidding == null and loggedUser != null and loggedUser.getID() != auction.getUser().getID()}">
            <a class="btn btn-success" role="button" target="_parent"
               th:href="@{bidding/newbid/auction/__${auction.getID()}__/user/__${loggedUser.getID()}__}">Rozpocznij
                licytacje</a>
        </td>
        <td th:if="${bidding != null and loggedUser != null and loggedUser.getID() != auction.getUser().getID() and bidding.getUser().getID() != loggedUser.getID()}">
            <a class="btn btn-warning" role="button" target="_parent"
               th:href="@{/bidding/bid/auction/__${auction.getID()}__/user/__${loggedUser.getID()}__}">Podbij!</a>
        </td>
        <td th:if="${loggedUser != null and loggedUser.getID() != auction.getUser().getID()}">
            <a class="btn btn-danger" role="button" target="_parent"
               href="@{}">KUP TERAZ</a>
        </td>
        <td>
            <a th:if="${loggedUser != null and loggedUser.getID() == auction.getUser().getID()}" class="btn btn-success"
               th:href="@{/auctions/update/__${auction.getID()}__}" role="button" target="_parent">Aktualizuj</a>
            <a th:if="${loggedUser != null and loggedUser.getID() == auction.getUser().getID()}" class="btn btn-danger"
               th:href="@{/auctions/delete/__${auction.getID()}__}" role="button" target="_parent">Zakończ</a>
        </td>

        <div th:each="onefile : ${storedFiles}">
            <img th:src="@{/files/__${onefile.getID()}__}" width="10%" height="*" style="margin: 2px">
        </div>
    </tr>
    </tbody>
</table>
</body>
</html>