<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Auction service">
    <meta name="keywords" content="auction">
    <meta name="author" content="Magdalena Tchorzewska, Paweł Hermanowski">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Auctions Portal</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>


    <script>
        function rowClicked(value) {
            location.href = "/auctions/" + value;
        }
    </script>
</head>

<body>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img
                src="https://assets.allegrostatic.com/metrum/metrum-brand/allegro-347440b030.svg" alt="Serwis aukcyjny"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li th:object="${loggedUser}" class="nav-item">
                    <a th:if="${loggedUser != null}" th:text="'Zalogowany jako ' + ${loggedUser.getEmail()}"
                       class="nav-link" href="/logout"></a>
                    <a th:if="${loggedUser == null}" class="nav-link" href="/login">LogIn</a>
                </li>
                <li th:object="${loggedUser}">
                    <a th:if="${loggedUser == null}" class="nav-link" href="/signup">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auctions/create/__${user.getID()}__}">Nowa aukcja</a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<div>
    <div class="alert alert-success" role="alert"
         th:if="${!message.isBlank()}"
         th:text="${message}">
        <button th:type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<!--    <div th:if="${!message.isBlank()}"
         th:text="${message}">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>-->


<!--href="@{/update/user/__${}__}"-->

<div th:object="${loggedUser}" align="right">
    <!--th:href="@{/update/user/__${user.id}__}"-->
    <a class="btn btn-success" role="button" target="_parent"
       th:if="${loggedUser != null}" th:href="@{/update/user/__${loggedUser.getID().toString()}__}">Edit user data</a>
    <a class="btn btn-danger" role="button" target="_parent"
       th:if="${loggedUser != null}" th:href="@{/delete/user/__${loggedUser.getID().toString()}__}">Delete user account</a></div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin: 2px">
    <div th:each="categoryTree : ${categoryTrees}" class="btn-group" role="group">
        <button th:text="${categoryTree.getCategoryName()}" type="button" class="btn btn-primary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu">
            <li th:each="category : ${categoryTree.getSubcategories()}"><a th:text="${category.getCategoryName()}"
                                                                           class="dropdown-item"
                                                                           th:href="@{/auctions/cat/__${category.getCatID()}__}"></a>
            </li>
        </ul>
    </div>
</div>


<p></p>

<div class="d-flex justify-content-between">

    <div style="margin: 2px">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">Nowe aukcje</h5>
                <p class="card-text">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr th:each="auction : ${auctionsNew10}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${auction.getID()} + '\');'">

                        <td th:text="${auction.getID()}"></td>
                        <td th:text="${auction.getTitle()}"></td>
                        <td th:text="${auction.getCategory()}"></td>
                        <td th:text="${auction.getBUY_NOW_price()}"></td>

                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>


    <div class="card w-100" style="margin: 2px">
        <div class="card-body">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div th:each="onefile : ${storedFiles}">
                        <img th:src="@{/files/__${onefile.getID()}__}" width="100%" height="*" style="margin: 2px">
                            </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${currentRandomAuction.getTitle()}"></h5>
                            <p class="card-text" th:text="${currentRandomAuction.getCategory()}"></p>
                            <p class="card-text" th:text="${currentRandomAuction.getDescription()}"></p>
                            <p class="card-text" th:text="${currentRandomAuction.getBUY_NOW_price()}"></p>
                            <a class="btn btn-primary" th:href="@{/auctions/__${currentRandomAuction.getID()}__}">Pokaż
                                aukcję</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin: 2px">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">Aukcje na zakończeniu</h5>
                <p class="card-text">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr th:each="auction : ${auctionsLast10}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${auction.getID()} + '\');'">

                        <td th:text="${auction.getID()}"></td>
                        <td th:text="${auction.getTitle()}"></td>
                        <td th:text="${auction.getCategory()}"></td>
                        <td th:text="${auction.getBUY_NOW_price()}"></td>

                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>

</div>


<div th:if="${!user.getEmail().isBlank()}" class="d-flex justify-content-between">

    <div style="margin: 2px" class="table2">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">Aukcje wystawione przez użytkownika</h5>
                <p class="card-text">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr th:each="auction : ${auctionsByUser}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${auction.getID()} + '\');'">
                        <td th:text="${auction.getID()}"></td>
                        <td th:text="${auction.getTitle()}"></td>
                        <td th:text="${auction.getCategory()}"></td>
                        <td th:text="${auction.getBUY_NOW_price()}"></td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>

    <div style="margin: 2px" class="table2">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">Aukcje licytowane przez użytkownika</h5>
                <p class="card-text">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr th:each="auction : ${auctionsBiddingByUser}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${auction.getAuction().getID()} + '\');'">
                        <td th:text="${auction.getAuction().getID()}"></td>
                        <td th:text="${auction.getAuction().getTitle()}"></td>
                        <td th:text="${auction.getAmount()}"></td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>


    <div style="margin: 2px" class="table2">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">Aukcje obserwowane przez użytkownika</h5>
                <p class="card-text">
                <table class="table table-dark table-striped table-hover">
                    <tbody>
                    <tr th:each="auction : ${observedAuctionsByUser}" style="cursor: pointer;"
                        th:onclick="'javascript:rowClicked(\'' + ${auction.getAuction().getID()} + '\');'">
                        <td th:text="${auction.getAuction().getID()}"></td>
                        <td th:text="${auction.getAuction().getTitle()}"></td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>

    <div style="margin: 2px" class="table2">
        <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">Zakończone aukcje użytkownika</h5>
                <p class="card-text">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr th:each="auction : ${finishedAuctionsByUser}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${auction.getID()} + '\');'">
                        <td th:text="${auction.getID()}"></td>
                        <td th:text="${auction.getTitle()}"></td>
                        <td th:text="${auction.getCategory()}"></td>
                        <td th:text="${auction.getEnd_date()}"></td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>

</div>

</div>
<!-- <td>
<a class="btn btn-success" th:href="@{/mvc/user/update/__${user.id}__}" role="button" target="_parent">Aktualizuj</a>
<a class="btn btn-danger" th:href="@{/mvc/user/delete/__${user.id}__}" role="button" target="_parent">Usuń</a>
</td>
-->
<!--
<div class="container">
  <p th:text="'Welcome ' + ${user.firstName} + ' ' + ${user.lastName} + ' (' + ${user.login} + ')'"></p>
</div>
-->

</body>
</html>