<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments/header :: header">
    <title>Kontakt</title>
</head>
<body>

<nav th:replace="fragments/nav:: nav"></nav>
<br>
<br>
<div style="margin: 0px 200px 0px 200px">
    <p align="left">Jesteśmy platformą umożliwiającą licytowanie oraz bezpośrednie zakupy produktów z olbrzymiej oferty firm handlowych współpracujących z nami. Każda z
    tych firm może wystawić na sprzedaż dowolną liczbę produktów.</p>
    <br>
    <p align="left">Na platformie HKTECH możesz znaleźć dosłownie wszystko co potrzebujesz, w takich kategoriach jak m.in.: Komputery, Telewizory, Akcesoria, Gry,
    Komponenty komputerowe, Fotele gamingowe czy Sprzęt stereo znajdziesz wiele produktów oferowanych przez liderów w swoich branżach. W każdym miesiącu
    HKTECH jest odwiedzane przez 120 tysięcy klientów - to  mniej więcej 15 procent wszystkich użytkowników internetu w Polsce! Udostępniamy ponad 25
    tysięcy ofert produktów w bardzo korzystnych cenach, które możesz wygodnie i bezpiecznie kupić korzystając z szybkich i darmowych dostaw.</p>
    <br>
    <p align="left">Umożliwiamy zakupy bezpośrednie, jak również możesz podjąć się licytacji żeby zakupiony towar był w jeszcze lepszej cenie! Wystawiając swoje
    produkcji zachęcamy do korzystania z możliwości promowania wystawionych przedmiotów – tym sposobem drastycznie zwiększasz swoje szanse na skuteczną sprzedaż.</p>
    <br>
    <p align="center"><b>POZNAJMY SIĘ</b></p>
    <br>
    <p align="left">Jesteśmy studentami kursu "JAVA od podstaw" składającego się z 322 godzin materiałów szkoleniowych. Kurs obejmował zaawansowane projekowanie w JAVA, jak również takie języki programowania
        jak HTML, CSS, JavaScript, Bootstrap, Angular. Nauczyliśmy się pracować w SPRINGu wykorzystując moduły Spring Core, Spring MVC, Spring Boot, Spring Data, Spring Security.
        <br>
        Ponadto poznaliśmy bazy danych SQL, jak również JDBC, Hibernate, HQL, wzorce projektowe oraz dobre praktyki programowania.
        <br></p>
    <p align="center"><b>Paweł Hermanowski</b>
    <br>
    <a href="tel:0048531501227">+48 531 501 227</a>
    <br>
    <a href="mailto:herrmaan91@gmail.com">herrmaan91@gmail.com</a>
    <br>
    <br>
        <b>Magdalena Tchorzewska</b>
    <br>
    <!--<a href="tel:0048">+48 </a>
    <a href="mailto:"></a>-->
    </p>
</div>
<div align="center">
<img src="https://images92.fotosik.pl/654/ab3bebe4111a2bc1gen.jpg" alt="Serwis aukcyjny">
</div>
</body>
</html>