<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Sign Up</title>
</head>

<body>

<nav th:replace="fragments/nav:: nav">
</nav>

<div class="container">

    <form th:object="${user}" th:action="@{/update/save}" method="post">
        <input type="hidden" th:field="*{ID}">
        <input type="hidden" th:field="*{userRole}">
        <div class="mb-3">
            <label for="firstName" class="form-label">Imię:</label>
            <input id="firstName" class="form-control" type="text" th:field="*{account_name}" maxlength="20">
            <div
                    th:if="${#fields.hasErrors('account_name')}"
                    th:text="${#fields.errors('account_name')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input id="email" class="form-control" type="text" th:field="*{email}" readonly hidden>
            <p th:text="${user.email}">1</p>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło:</label>
            <input id="password" class="form-control" type="password" th:field="*{password}" maxlength="30">
            <div
                    th:if="${#fields.hasErrors('password')}"
                    th:text="${#fields.errors('password')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="voivodeship" class="form-label">Województwo:</label>
            <input id="voivodeship" class="form-control" type="text" th:field="*{voivodeship}" maxlength="20">
            <div
                    th:if="${#fields.hasErrors('voivodeship')}"
                    th:text="${#fields.errors('voivodeship')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Miasto:</label>
            <input id="city" class="form-control" type="text" th:field="*{city}" maxlength="20">
            <div
                    th:if="${#fields.hasErrors('city')}"
                    th:text="${#fields.errors('city')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Adres:</label>
            <input id="address" class="form-control" type="text" th:field="*{address}" maxlength="20">
            <div
                    th:if="${#fields.hasErrors('address')}"
                    th:text="${#fields.errors('address')[0]}"
                    class="invalid-feedback-custom"
            ></div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Aktualizuj</button>
        </div>
    </form>
</div>
</body>
</html>